.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  min-height: 100vh;
}
.group-header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #f0f0f0;
  border-bottom: 1px solid black;
}
.group-items {
  max-width: 1140px;
  margin: 0 auto;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0.5rem 0 !important;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  top: 1rem;
  left: 2.5rem;
  transform: translateY(-20%);
}
